@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 32 35% 92%;
    --foreground: 0 0% 15%;

    --card: 32 35% 92%;
    --card-foreground: 0 0% 15%;

    --popover: 32 35% 92%;
    --popover-foreground: 0 0% 15%;

    --primary: 0 65% 25%;
    --primary-foreground: 32 35% 92%;

    --secondary: 0 60% 45%;
    --secondary-foreground: 32 35% 92%;

    --muted: 32 20% 85%;
    --muted-foreground: 0 0% 40%;

    --accent: 0 65% 25%;
    --accent-foreground: 32 35% 92%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 32 35% 92%;

    --border: 0 10% 30%;
    --input: 0 10% 30%;
    --ring: 0 65% 25%;

    --radius: 0.5rem;

    --sidebar-background: 0 0% 98%;

    --sidebar-foreground: 240 5.3% 26.1%;

    --sidebar-primary: 240 5.9% 10%;

    --sidebar-primary-foreground: 0 0% 98%;

    --sidebar-accent: 240 4.8% 95.9%;

    --sidebar-accent-foreground: 240 5.9% 10%;

    --sidebar-border: 220 13% 91%;

    --sidebar-ring: 217.2 91.2% 59.8%;
  }

  .dark {
    --background: 0 0% 10%;
    --foreground: 32 35% 92%;

    --card: 0 0% 10%;
    --card-foreground: 32 35% 92%;

    --popover: 0 0% 10%;
    --popover-foreground: 32 35% 92%;

    --primary: 32 35% 92%;
    --primary-foreground: 0 65% 25%;

    --secondary: 0 60% 45%;
    --secondary-foreground: 32 35% 92%;

    --muted: 0 0% 20%;
    --muted-foreground: 32 20% 70%;

    --accent: 0 65% 25%;
    --accent-foreground: 32 35% 92%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 32 35% 92%;

    --border: 0 0% 20%;
    --input: 0 0% 20%;
    --ring: 32 35% 92%;
    --sidebar-background: 0 65% 25%;
    --sidebar-foreground: 32 35% 92%;
    --sidebar-primary: 0 60% 45%;
    --sidebar-primary-foreground: 32 35% 92%;
    --sidebar-accent: 0 50% 35%;
    --sidebar-accent-foreground: 32 35% 92%;
    --sidebar-border: 0 40% 20%;
    --sidebar-ring: 0 60% 45%;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}
